[submodule "DataSet"]
	path = DataSet
	url = https://github.com/Oxford-step-counter/DataSet.git
[submodule "C-Step-Counter"]
	path = C-Step-Counter
	url = https://github.com/MarcusNordstrom/C-Step-Counter.git
